h1 {
    text-align: center;
}

.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 0px;

    align-content: center;
}

.column figure {
    display: inline-flex;
    margin-top: 1em;
    margin-left: 8em;
    margin-bottom: 1em;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column p, h2 {
    font-size: x-large;
    margin-right: 2em;
    align-content: center;
    text-align: center;
}

div.pdf {
    align-content: center;
}

div.pdf embed {
    width: 100%;
    height: 500px;
}

h2 {
    text-align: center;
}

h1,h2,h3,h4,h5 {
    font-family: Verdana;
    color: #325bba
}

p {
    font-family: Helvetica;
    color: #244083;
}

footer {
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #325bba;
    word-spacing: 2em;
    width: 100%;
    height: 5%;
}

footer a {
    color: oldlace;
    vertical-align: middle;
    margin: auto;

}

header a {
    color: oldlace;
    vertical-align: middle;
    text-transform: uppercase;

}

p a {
    color: rgb(83, 142, 83);

}

header {
    padding: 8px;
    background-color: #325bba;
    word-spacing: 2em;
    height: 5%;
}

main {
    margin-left: 1in;
    margin-right: 1in;
    height: 90%;
}

html, body {
    margin: 0;
    background-color: oldlace;
    height: 100%;
    width: 100%;
}

ul li {
    color: #244083;
    font-family: Helvetica;
}


